* {
  border-sizing: border-box
}

* {
  margin: 0px;
  padding: 0px
}

* li {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/BG_A_Default_1.jpg");
  background-position: center;
  overflow: hidden;
  color: white;
}


.nav {
  padding: 30px;
  display: flex;
  justify-content: flex-end;

}

.nav .meus li {
  position: relative;
  width: 30px;
  height: 2px;
  background: #777;

}

.nav .meus li::before {
  content: '';
  width: 20px;
  height: 2px;
  top: -8px;
  background: #777;
  position: absolute;
  right: 0;

}

.nav .meus li::after {
  content: '';
  width: 20px;
  height: 2px;
  bottom: -8px;
  background: #777;
  position: absolute;
  left: 0;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 100px;
}

.main .clock {
  font-size: 30px;

  padding: 40px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .35)


}

.main .search .wd {

  left: calc(50% - 50px);
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
  width: 200px;
  outline: none;
  border: none;
  padding: 13px 15px;
  border-radius: 30px;
  color: rgba(255, 255, 255, .8);
  font-size: small;
  font-weight: 400;
  font-family: microsoft yahei, sans-serif;


}
.main .search .wd:hover {
  width: 400px;
  background-color: white;
  color: black;
}

.foot {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 50px);
  text-align: center;

}
